<template>
  <div>
    <div class="add-items d-flex">
      <input type="text" class="form-control todo-list-input" placeholder="etc. buy some milk?" v-model="newToDoText">
      <button class="add btn btn-primary font-weight-bold todo-list-add-btn" v-on:click="addTodo"
              :disabled="addButtonDisabled">Add
      </button>
    </div>

  </div>
</template>

<script>
import 'bootstrap'
import {ApiHelper} from "@/api-helper";


export default {
  name: "AddToDoComponent",
  data: function () {
    return {
      newToDoText: '',
      addButtonDisabled: false
    };
  },
  methods: {
    addTodo: function () {
      this.addButtonDisabled = true;
      ApiHelper.put(process.env.VUE_APP_SERVICE_URI + '/todo', {
        subject: this.newToDoText
      }, {
        headers: {
          'content-type': 'application/json'
        }
      }).then((response) => {
        this.$emit('todoAddedEvent', response.data)
        this.addButtonDisabled = false;
        this.newToDoText = '';
      }).catch(() => {
      })
    }
  }
}
</script>

<style scoped>

</style>
