<template>

  <div class="row">
    <div class="list-wrapper">
      <ul class="d-flex flex-column todo-list">
        <ToDoListItemComponent class="todo-list-item" v-for="todo in todoList" :key="todo.id" :initialData="todo"/>
      </ul>
    </div>
  </div>
</template>

<script>

import ToDoListItemComponent from "./ToDoListItemComponent";
import {ApiHelper} from "@/api-helper";

export default {
  name: "ToDoListComponent",
  components: {ToDoListItemComponent},
  mounted() {
    ApiHelper
        .get(process.env.VUE_APP_SERVICE_URI + '/todo')
        .then(response => {
              this.todoList = response.data;
            }
        ).catch((e) => {
      console.log(e)
    })
  },
  methods: {
    addNewToDo: function (addNewTodo) {
      this.todoList.push(addNewTodo);
    }
  },
  data: function () {
    return {
      todoList: []
    }
  }
}
</script>

<style scoped>

</style>
