<template>
  <div class="todo-item">
    <li v-bind:class="{ completed : todoData.isCompleted}">
      <div class="form-check">
        <label class="form-check-label todo-subject-label">
          <input class="checkbox todo-completed-checkbox" type="checkbox" v-model="todoData.isCompleted">
          {{ todoData.subject }}<i class="input-helper"></i></label>
      </div>
<!--      <font-awesome-icon icon="times" class="remove mdi mdi-close-circle-outline "/>-->
    </li>
  </div>
</template>

<script>
export default {
  name: "ToDoListItemComponent",
  props: {
    initialData: Object
  },
  created: function () {
    this._data.todoData = this.initialData;
  },
  data: function () {
    return {
      todoData: {}
    }
  }

}
</script>

<style scoped>

</style>
